@font-face {
  src: url("../fonts/sf/SF-Pro-Display-Medium.otf");
  font-family: 'SF-Medium';
}
@font-face {
  src: url("../fonts/sf/SF-Pro-Display-Bold.otf");
  font-family: 'SF-Bold';
}
@font-face {
  src: url("../fonts/sf/SF-Pro-Display-Regular.otf");
  font-family: 'SF-regular';
}
@font-face {
  src: url("../fonts/sf/SF-Pro-Display-SemiBold.otf");
  font-family: 'SF-SemiBold';
}
@font-face {
  src: url("../fonts/sf/SF-Pro-Display-Heavy.otf");
  font-family: 'SF-Heavy';
}
$font400: 'SF-regular';
$font500: 'SF-Medium';
$font600: 'SF-SemiBold';
$font700: 'SF-Bold';
$font800: 'SF-Heavy';
$text-color_white:#fff;
$text-color_black:#000;
%allbtn{
  width: 289px;
  height: 61px;
  background: #fff;
  font-size: 22px;
  line-height: 26px;
  border: none;
  cursor: pointer;
}
body{
  margin: 0;
  background: #f6f6f6;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
nav{
  margin: 13px auto;
  .container, .nav-menu, .nav-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-menu{
  padding-left: 0;
  .nav-item{
    list-style-type: none;
    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
  }

  .nav-link{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: 0.33s linear;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: $font500;
    &:hover{
      color: rgba(0, 0, 0, 1);
    }
    &::after{
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      left: 0;
      bottom: -30px;
      right: 0;
      background-color: #000;
      transition: 0.33s linear;
    }
    &:hover::after{
      width: 100%;
      right: 0;
    }
  }
}

.logo{
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.nav-btns button{
  margin-right: 36px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-btns button:last-child{
  margin-right: 0;
}
header{
  height: 550px;
  margin-bottom: 106px;
  background: {
    image: url("../images/header.jpg");
    repeat: no-repeat;
    size: 100%;
  };

  .title{
    font-size: 50px;
    line-height: 60px;
    font-family: $font800;
    margin-bottom: 10px;
    color: $text-color_white;
    padding-top: 163px;
  }
  .text{
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 62px;
    font-family: $font400;
    color: $text-color_white;
  }
  button{
    @extend %allbtn;
  }
}
.section-products{
  margin-bottom: 100px;
  .products-items{
    justify-content: space-between;
  }
  .title{
    font-size: 40px;
    line-height: 48px;
    color: $text-color_black;
    font-family: $font500;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .box{
    background-image: url("../images/product-1.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-x: right;
    
    height: 450px;
    padding: 14px 0 30px 30px;
    box-sizing: border-box;
    width: 588px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    .content{
      flex-direction: column;
      .title{
        font-size: 22px;
        line-height: 26px;
        font-family: $font600;
        margin-bottom: 4px;
      }
      .text{
        font-size: 14px;
        line-height: 17px;
        font-family: $font400;
        margin-bottom: 20px;
      }
      button{
        @extend %allbtn;
        width: 109px;
        height: 39px;
        background: #000;
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        font-family: $font400;
        
      }
    }
  


}
.right-box{
  background-image: url("../images/product-2.png");
  button{
    background: #fff !important;
    color: #000 !important;
  }
}
#first-carousel{
  position: relative;
  .owl-nav{
    span{
      display: none;
    }
    .owl-next, .owl-prev{
      width: 60px;
      height: 60px;
      background-image: url('../images/next.svg');
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: -94px;
      right: 0;
      &:hover{
        background-color: transparent;
      }
      &:focus-visible{
        outline: none;
      }
    }
    .owl-prev{
      right: 60px;
      transform: rotate(180deg);
    }
  }
}
}
.section-new_products{
  margin-bottom: 100px;
  .title{
    font-size: 40px;
    line-height: 48px;
    font-family: $font500;
    color: $text-color_black;
    text-transform: uppercase;
    margin-bottom: 41px;
  }
  .new-products_items{
    .card{
      padding: 0 20px 20px 20px;
      box-sizing: border-box;
      background: $text-color_white;
      display: flex;
      flex-direction: column;
      width: 289px;
      .title{
        font-size: 18px;
        line-height: 21px;
        font-family: $font400;
        margin: 15px 0 0 0;
      }
      .price{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        line-height: 29px;
        font-family: $font700;
        a{
          width: 46px;
          height: 46px;
          background-image: url('../images/lock.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #f6f6f6;
          border-radius: 50%;
          border: 1px solid #f6f6f6;
          position: relative;
          overflow: hidden;
          
          &::before{
            content: '';
            position: absolute;
            width: 46px;
            height: 46px;
            background-image: url(../images/lock-hover.svg);
            background-color: $text-color_black;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: 1px solid #000;
            background-position: center center;
            left: 0;
            bottom: -150%;
            transition: 0.33s linear;
          }
          &:hover::before{
            bottom:0;
          }
        }
      }
    }
    .owl-nav{
      span{
        display: none;
      }
      .owl-next, .owl-prev{
        width: 46px;
        height: 46px;
        background-image: url('../images/next-2.svg');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 37%;
        border-radius: 50%;
        box-shadow: 0px 2px 2px 0px #DEDEDE87;

        &:hover{
          background-color: transparent;
          opacity: 0.5;
        }
        &:focus-visible{
          outline: none;
        }
      }
      .owl-next{
        right: -10px;
      }
      .owl-prev{
        left: -10px;
        transform: rotate(180deg);
      }
    }
  }
}
.section-other_products{
  margin-bottom: 100px;
  .speedy-products{
    background-image: url(../images/big-product.png);
    background-repeat: no-repeat;
    background-position-x: center;
    box-sizing: border-box;
    padding-top: 129px;
  
  
  .title{
    font-size: 50px;
    line-height: 65px;
    font-family: $font800;
    margin-bottom: 15px;
    letter-spacing: -0.02em;

  }
  .text{
    font-size: 26px;
    line-height: 31px;
    font-family: $font400;
    letter-spacing: -0.02em;
    margin-bottom: 70px;
  }
  button{
    @extend %allbtn;
    background-color: $text-color_black;
    color: $text-color_white;
    margin-bottom: 317px;
  }
  }
  .clothes{
    .images{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .titles{
      width: 100%;
      display: flex;
      flex-direction: row;
      
      .title{
        font-size: 24px;
        width: 35%;  
        line-height: 29px;
        font-family: $font500;
        margin-top: 28px;
      }
    }
  }
}
.section-winter{
  height: 500px;
  background-image: url('../images/winter.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 136px;
  box-sizing: border-box;
  margin-bottom: 90px;
  .title{
    font-size: 50px;
    line-height: 60px;
    color: $text-color_white;
    font-family: $font800;
    margin-bottom: 10px;
  }
  .text{
    font-size: 26px;
    line-height: 31px;
    font-family: $font400;
    color: $text-color_white;
    margin-bottom: 65px;
  }
  .btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      @extend %allbtn;
      width: 214px;
    }
  }
}
footer{
  .footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 117px;
    .footer-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      ul{     
        padding-left: 0;
        li{
          list-style: none;
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        a{
          text-decoration: none;
          font-size: 18px;
          line-height: 21px;
          color: $text-color_black;
          opacity: 0.7;
          font-family: $font400;
          transition: 0.33s linear;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
    .footer-contacts{
      width: 29%;
      
      .title{
        font-size: 22px;
        line-height: 26px;
        font-family: $font600;
        letter-spacing: -0,02em;
        margin-bottom: 10px;
      }
      .text{
        font-size: 18px;
        line-height: 26px;
        font-family: $font400;
        margin-bottom: 30px;
        letter-spacing: -0,02em;
      }
      form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        input{
          width: 264px;
          height: 60px;
          border: 2px solid #000;
          box-sizing: border-box;
          padding: 19px 0 19px 25px;
        }
        .arrow{
          width: 87px;
          height: 60px;
          
          background: url('../images/arrow.svg') no-repeat center center #000;
        }
      }
      .social{
        margin-top: 36px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-top: 1px solid #EFEFEF;
    .footer-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .location{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
      }
      .rights{
        font-size: 18px;
        line-height: 21px;
        color: $text-color_black;
        opacity: 0.4;
        text-transform: uppercase;
        font-family: $font400;
      }
    }
    .footer-link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        margin-right: 17px;
      &:last-child{
        margin-right: 0;
      }
      }
    }
  }
}